.no-dizmo-drag {
  -apple-dashboard-region: dashboard-region(control rectangle);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#front {
  position: fixed;
}

#front {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  div.dizmo-accordion {
    ul.dizmo-accordion-panels {
      li.dizmo-accordion-panel {
        .dizmo-accordion-panel-header {
          border-top: 1px solid dimgrey;
        }
        .dizmo-accordion-panel-body {
          height: calc(100% - 20px - 48px);
          margin: 0 10px 10px;
          width: calc(100% - 20px);
          .dizmo-accordion-panel-body-content {
            display: table;
            div {
              display: table-cell;
              vertical-align: middle;
              text-align: center;
              span {
                font-size: 10em;
                font-weight: bold;
              }
              p:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    .iScrollVerticalScrollbar {
      .iScrollIndicator {
        border: 1px solid dimgrey;
      }
    }
  }
}

#back {
  display: none;
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);

  .done-button-wrapper {
    bottom: 10px;
    left: 10px;
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
    button {
      margin: 0;
    }
  }
}
