.no-dizmo-drag {
  -apple-dashboard-region: dashboard-region(control rectangle);
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#front {
  position: fixed;
}

#front {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;

  div.dizmo-accordion {
    .dizmo-accordion-panels {
      .dizmo-accordion-panel {
        .dizmo-accordion-panel-body {
          .dizmo-accordion-panel-body-content {
            display: table;
            .number {
              display: table-cell;
              font-weight: bold;
              font-size: 10em;
              vertical-align: middle;
              text-align: center;
            }
          }
        }
      }
      .dizmo-accordion-panel {
        .dizmo-accordion-panel-header {
          border-top: 1px solid dimgrey;
        }
      }
    }
    .iScrollVerticalScrollbar {
      .iScrollIndicator {
        border: 1px solid dimgrey;
      }
    }
  }
}

#back {
  display: none;
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);

  .done-button-wrapper {
    bottom: 10px;
    left: 10px;
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
    button {
      margin: 0;
    }
  }
}
