.no-dizmo-drag {
  -apple-dashboard-region: dashboard-region(control rectangle);
}

html {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}

body {
  background-color: #f65b63;
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);
}

#front {
  background-color: #fae366;
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);

  div.dizmo-accordion {
    background-color: #f65b63;
    height: calc(100% - 20px);
    margin: 0;
    padding: 10px;
    width: calc(100% - 20px);

    div.dizmo-accordion-panel {
      div.dizmo-accordion-panel-body {
        background-color: #fae366;
        div.dizmo-accordion-panel-body-content {
          display: table;
          height: 100%;
          width: 100%;
          div.number {
            display: table-cell;
            font-weight: bold;
            font-size: 10em;
            vertical-align: middle;
            text-align: center;
          }
        }
      }
    }

    div.dizmo-accordion-panel:not([data-state=active]):last-of-type {
      border-bottom: 1px dotted #fae366;
    }
    div.dizmo-accordion-panel:not([data-state=active]) {
      border-top: 1px dotted #fae366;
      display: none;
    }
    div.dizmo-accordion-panel[data-state=active] {
      border-top: 1px dotted #fae366;
    }
  }
}

#back {
  display: none;
  background-color: #fae366;
  height: calc(100% - 20px);
  margin: 0;
  padding: 10px;
  width: calc(100% - 20px);

  .done-button-wrapper {
    bottom: 10px;
    left: 10px;
    position: absolute;
    text-align: center;
    width: calc(100% - 20px);
    button {
      margin: 0;
    }
  }
}
